<%- include('partials/header') %>
<main>
    <div class="dashboard">
        <h1>Welcome to Your Dashboard</h1>
        <p>
            This is a protected page that requires authentication. Only logged-in users can access this content.
        </p>

        <div class="user-info">
            <h2>Your Account Information</h2>
            <!-- User Name -->
            <div class="user-detail">
                <span class="label">Name:</span>
                <span class="value"><%= user.name %></span>
            </div>

            <!-- User Email -->
            <div class="user-detail">
                <span class="label">Email:</span>
                <span class="value"><%= user.email %></span>
            </div>

            <!-- User Role: FOR TESTING ONLY-->
            <div class="user-detail">
                <span class="label">Role:</span>
                <span class="value"><%= user.roleName %></span>
            </div>
            
        </div>

        <div class="dashboard-actions">
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </div>
</main>
<%- include('partials/footer') %>